[Unit]
Description=rssgram
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/rssgram/
ExecStart=/opt/rssgram/rssgram

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target